@import "tailwindcss";
@layer base {
    html {
      font-size: 100%;
    }
  
    @media (max-width:1024px) {
      html {
        font-size: 87.5%;
      }
    }
  
    @media (max-width: 640px) {
      html {
        font-size: 75%;
      }
    }
  }
  